/build
/captures
/native
/android/build
/android/release
/common/build
/desktop/build
/desktopApp/build
/composeApp/build
/cli/build
/websiteBuilder/html
/websiteBuilder/build
.idea/
.gradle/
local.properties
*.key
*.aab
*.jar
/html
.claude
.kotlin
processed.txt
instructions-tldr.md
instructions-man.md
commands.txt
find_missing_commands.sh