/build
/captures
/native
/android/build
/android/release
/common/build
/desktop/build
/desktopApp/build
/composeApp/build
/cli/build
/websiteBuilder/html
/websiteBuilder/build
.idea/
.gradle/
local.properties
*.key
*.aab
*.jar
/html
.claude
/v86-prototype
.kotlin
processed.txt
instructions-tldr.md
instructions-man.md
instructions-improve.md
products_dataset.json
instructions-config.md
commands.txt
commands_ignore.txt
commands_improved.txt
commands_processed.txt
find_missing_commands.sh