<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspiredandroid.linuxcommandbibliotheca"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_lcl_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CommandBibliothecaActivity"
            android:label="@string/app_lcl_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.inspiredandroid.linuxcommandbibliotheca.CommandBibliothecaActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".CommandManActivity"
            android:label="@string/command">
        </activity>

    </application>

</manifest>
