<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.inspiredandroid.linuxcommandbibliotheca"
          android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_lcl_name"
        android:theme="@style/LibAppTheme"
        android:exported="true"
        android:supportsRtl="true"
        android:name=".MyApp"
        tools:replace="android:icon">
        <activity
            android:name=".CommandBibliothecaActivity"
            android:label="@string/app_lcl_name"
            android:theme="@style/LibAppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.inspiredandroid.linuxcommandbibliotheca.CommandBibliothecaActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
            <intent-filter android:label="View Linux tips">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipes" -->
                <data android:scheme="http"
                      android:host="linux.schubert-simon.de"
                      android:pathPrefix="/tips" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CommandManActivity"
            android:theme="@style/LibAppTheme"
            android:label="@string/command">
            <intent-filter android:label="View man page">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipes" -->
                <data android:scheme="http"
                      android:host="linux.schubert-simon.de"
                      android:pathPrefix="/mans" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QuizActivity"
            android:theme="@style/LibAppTheme"
            android:label="@string/quiz" />

        <activity
            android:name=".AboutActivity"
            android:theme="@style/LibAppTheme"
            android:label="@string/about" />

    </application>

</manifest>
