<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inspiredandroid.linuxcommandbibliotheca"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_lcl_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".NavigationActivity"
            android:label="@string/app_lcl_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.inspiredandroid.linuxcommandbibliotheca.CommandBibliothecaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />


            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="linuxcommandlibrary.com"
                    android:path="/tips.html" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="linuxcommandlibrary.com"
                    android:path="/tips.html" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommandManActivity"
            android:label="@string/command"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BasicGroupActivity"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DeeplinkActivity"
            android:label="@string/app_lcl_name"
            android:theme="@style/AppTheme">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="linuxcommandlibrary.com"
                    android:pathPrefix="/man" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="linuxcommandlibrary.com"
                    android:pathPrefix="/man" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data android:name="search-engine"
            android:resource="@xml/noindex"/>
    </application>

</manifest>