pkgbase = lcl-bin
	pkgdesc = Linux command reference and cheat sheets for your terminal
	pkgver = 3.7.8
	pkgrel = 1
	url = https://github.com/SimonSchubert/LinuxCommandLibrary
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	depends = libgcc
	depends = libxcrypt-compat
	provides = lcl
	conflicts = lcl
	source = LinuxCommandLibrary-3.7.8-cli-linux-x64.zip::https://github.com/SimonSchubert/LinuxCommandLibrary/releases/download/v3.7.8/LinuxCommandLibrary-3.7.8-cli-linux-x64.zip
	sha256sums = d9cd7438228055c206dbc356ec9603fa16210266df27f832bb692dc6d62ae2d9

pkgname = lcl-bin
