pkgbase = lcl-bin
	pkgdesc = Linux command reference and cheat sheets for your terminal
	pkgver = 3.7.10
	pkgrel = 1
	url = https://github.com/SimonSchubert/LinuxCommandLibrary
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	depends = libgcc
	depends = libxcrypt-compat
	provides = lcl
	conflicts = lcl
	source = LinuxCommandLibrary-3.7.10-cli-linux-x64.zip::https://github.com/SimonSchubert/LinuxCommandLibrary/releases/download/v3.7.10/LinuxCommandLibrary-3.7.10-cli-linux-x64.zip
	sha256sums = 45860826c252a7f16db7925867cd0ee1befc564f4c9a89af4d10c98deeaacc8c

pkgname = lcl-bin
