pkgbase = lcl-gui-bin
	pkgdesc = Linux command reference and cheat sheets - desktop application
	pkgver = 4.0.3
	pkgrel = 1
	url = https://github.com/SimonSchubert/LinuxCommandLibrary
	arch = x86_64
	license = Apache-2.0
	depends = alsa-lib
	depends = bash
	depends = fontconfig
	depends = glibc
	depends = hicolor-icon-theme
	depends = java-runtime
	depends = libglvnd
	depends = libstdc++
	depends = libx11
	depends = libxext
	depends = libxi
	depends = libxrender
	depends = libxtst
	provides = lcl-gui
	conflicts = lcl-gui
	options = !strip
	source = LinuxCommandLibrary-4.0.3-linux-x86_64.tar.gz::https://github.com/SimonSchubert/LinuxCommandLibrary/releases/download/v4.0.3/LinuxCommandLibrary-4.0.3-linux-x86_64.tar.gz
	sha256sums = 25b54dc5a85812a6599c0e7fee461b2770ae19eecfc93a73005faf983cd99953

pkgname = lcl-gui-bin
