pkgbase = lcl-gui-bin
	pkgdesc = Linux command reference and cheat sheets - desktop application
	pkgver = 3.7.6
	pkgrel = 1
	url = https://github.com/SimonSchubert/LinuxCommandLibrary
	arch = x86_64
	license = Apache-2.0
	depends = alsa-lib
	depends = bash
	depends = fontconfig
	depends = glibc
	depends = hicolor-icon-theme
	depends = java-runtime
	depends = libglvnd
	depends = libstdc++
	depends = libx11
	depends = libxext
	depends = libxi
	depends = libxrender
	depends = libxtst
	provides = lcl-gui
	conflicts = lcl-gui
	options = !strip
	source = LinuxCommandLibrary-3.7.6-linux-x86_64.tar.gz::https://github.com/SimonSchubert/LinuxCommandLibrary/releases/download/v3.7.6/LinuxCommandLibrary-3.7.6-linux-x86_64.tar.gz
	sha256sums = b3523601d0525be75634f5cb82aa4bd8cbc0964a7008ce8781e648a38ae4d560

pkgname = lcl-gui-bin
